.item{
    display: flex;
    flex: 1 1 300px;
    max-width: 300px;
    flex-direction: column;
    margin: 5px;
    background-color: #fff;
    border-radius: 8px;
    border: 1px solid silver;
    box-shadow: 0 0 5px #2e2e2e;
}
.item__header{
    display: flex;
    justify-content: flex-end;
    background-color: #f1f1f1;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}
.item__title{
    font-size: 18px;
    padding: 10px;
    font-weight: 900;
    text-align: center;
    border-bottom: 1px solid silver;
}
.item__descr{
    padding: 15px;
    font-size: 16px;
    font-weight: 500;
}
.item-btns{
    position: relative;
    margin: 5px 5px 5px 0;
    width: 25px;
    height: 25px;
    border-radius: 4px;
    border: 0;
    background-image: linear-gradient(0deg, #bbb, #ececec);
}
.item img {
    width: 50px;
    margin: 0 auto;
}
.item__edit-btn img{
    height: 15px;
    width: 15px;
}
.item__delete-btn img {
    height: 15px;
    width: 15px;
}
.item {
    display: flex;
    flex: 1 1 300px;
    max-width: 300px;
    flex-direction: column;
    margin: 5px;
    background-color: #fff;
    border-radius: 8px;
    border: 1px solid silver;
    box-shadow: 0 0 5px #2e2e2e;
}

.add-item {
    padding: 25px 0;
    box-shadow: none;
    border: 3px dashed silver;
    background-position: 50%;
    background-repeat: no-repeat;
}

.app__body-container {
    display: flex;
    justify-content: flex-start;
    align-items: stretch;
    padding: 15px;
    flex-wrap: wrap;
    width: 1558px;
}

.app__body {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
}

/* media queries */

@media (max-width: 1600px) {
    .app__body-container {
        width: 1250px;
    }
}

@media (max-width: 1300px) {
    .app__body-container {
        width: 940px;
    }
}

@media (max-width: 1000px) {
    .app__body-container {
        width: 630px;
    }
}

@media (max-width: 700px) {
    .app__body-container {
        width: 310px;
    }
}